@import url('https://fonts.googleapis.com/css2? family= Comic+Neue & family= Fasthand & family= Great+Vibes & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@ 0,300;0,400;1,700 & mostrar=cambiar');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    text-align: center;
    background-image: url('./img/huevo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 650px;
}

.baider-titulo {
    font-size: 60px;
    color: rgb(241, 117, 34); 
    font-family: 'Pacifico', cursive; 
    /* copiar rules de los fonts */
    /* font-family: 'Comic Neue', cursive; */
    /* font-family: 'Fasthand', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    padding-top: 400px;
 }

a {
    text-decoration: none;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    color:  rgb(241, 117, 34);
}

.nav-link:hover {
      color: rgb(158, 155, 155);
}

.nav-link-disabled {
    pointer-events: none;
    opacity: .4;
}

.nav-item {
    display: inline-block; /*propiedasdes de bloque, poner cajitas en bloque o en linea, <div> <p> <h1> son elementos de bloque <img> es de linea*/
    color: rgb(241, 117, 34);
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 90px;
    padding: 70px; 
    /* padding lo puedo colocar así como arriba
       o padding: 20px 30px 20px 50px
       o padding: 20px 30px (arri/aba ;der/izq 
        o padding-block o padding-inline, es=*/
}
 
.container {
   
    text-align: center; 
    width: 100vw;
    min-height: 400px;
}

.baider-text {
    font-family: 'Lato', sans-serif;
    color: peru;
    font-size: 30px;
    padding-top: 100px; 
}

.baider-img {
    margin: 30px 0px;
}

.footer-container {
    text-align: center;
    background-color: rgb(200, 194, 194);
    padding: 50px;
}

.footer-title {
    font-family: 'Comic Neue', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
}

.footer-social {
    margin-top: 15px;
}

.footer-links {
    color: black;
    padding: 15px 15px;
}

.footer-links:hover {
    color: rgb(158, 155, 155);
}

.container {
    font-family: 'Lato', sans-serif;
    color: peru;
    font-size: 20px; 
    padding: 30px 40px;
}

.baider-img-nosotros {
     padding: 15px;
     background-size: cover;
}

.baider-text-eventos {
    padding-top: 10px;
    font-size: 30px;
}

.baider-img-eventos {
    padding-top: 30px;
}

.baider-img-productos {
    padding-top: 40px;
}

.main-contactanos{
    
    background-image: url('./img/productos2.jpg');
}
.productos {
    list-style-type: none;
    font-family: 'Comic Neue', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    background-color: rgb(250, 224, 198);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70px;
    color:  rgb(241, 117, 34);
    border: solid rgb(246, 192, 246) 1px;
}

.productos-items {
    color:  rgb(241, 117, 34);
}
.pedidos {
    list-style-type: none;
    font-family: 'Comic Neue', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    background-color: rgb(250, 224, 198);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70px;
    color:  rgb(241, 117, 34);
}
.col {
   
    position: relative;
    padding: 60px;
    padding-left: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid red;
    list-style-type: none;
    font-family: 'Comic Neue', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    background-color: rgb(250, 224, 198);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70px;
    color:  rgb(241, 117, 34);
}
.col::before {
    content: ''; /*SIEMPRE SE PONE,GRALM.VACIO*/
    background-color: yellow;
    position: absolute;/*GRALM.SE PONE ABSOLUT*/
    left: 30px;
    width: 80px;
    height: 30%;
    z-index: -1;
    transition: 1s;
}
.col:hover::before {
    width: 20%;/*con esto o achico el amarillo*/
} 













